<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lig.demo1.mapper.UserMapper">

	<resultMap type="User" id="UserResult">
		<id     property="id"       column="id"      />
		<result property="name"       column="name"      />
		<result property="age"     column="age"    />
		<result property="sex"     column="sex"    />
		<result property="address"        column="address"        />
		<result property="birthday"  column="birthday"  />
	</resultMap>

	
	<select id="get" parameterType="Long" resultMap="UserResult">
        select * from sys_user where id=#{id}
    </select>
	<select id="list" resultType="com.lig.demo1.entity.User">
		select * from sys_user
	</select>

	<insert id="add" parameterType="User">
 		insert into sys_user(name,age,sex,address,birthday) value(#{name},#{age},#{sex}, #{address}, #{birthday})
	</insert>
	
	<update id="update" parameterType="User">
 		update sys_user
 		<set>
 			<if test="name != null and name != ''">name = #{name},</if>
 			<if test="age != null">age = #{age},</if>
 			<if test="sex != null">sex = #{sex},</if>
			<if test="address != null and address != ''">address = #{address},</if>
			<if test="birthday != null">birthday = #{birthday},</if>
 		</set>
 		where id = #{id}
	</update>

	
	<delete id="delete" parameterType="Long">
		delete sys_user where id=#{id}
 	</delete>
	
</mapper> 